*, ::before, ::after{
    box-sizing: border-box;
   
}


body{
    margin: 0;
    background-color: #24353F;

}

.container {
    width: 50% !important;
   
}

.content{
    box-shadow: 5px 2px 54px -9px rgba(0, 0, 0, 1);
    background-color: #24353F;
}

.content h2{
    color: #17A2B8;
    font-size: 40px;
    font-weight: 500;
}
.content p , a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.content a:hover{
    text-decoration-line: underline !important;
    color: #17A2B8 !important;
}
.inputs{
    width: 80%;
}

.inputs input{
    background-color: #24353F;
    color: #17A2B8;
    border: 1px solid #ced4da;
}
.inputs input:focus-within{
    background-color: #E8F0FE;
    color: black;    
}
.inputs input::placeholder{
    color: grey;
}

.btn-signup{
   background-color: #24353F;
   width: 80%;
   color: #17A2B8;
   border: 1px solid #17A2B8;
}

.btn-signup:hover{
    background-color: #17A2B8;
    color: white;
   
}

/* home bage nav */

.navbar .container{
    width: 70% !important;
}

.navbar h4{
    color: white;
}
.navbar button{
    background-color: #24353F !important;
    color: #ced4da ;
}
.navbar button:hover{
    background-color: #FFC107 !important;
    color: black ;
}